## Example of using Pure to check data quality

This example shows how Pure framework can be used to check the quality of data for some datasets.

In [1]:
import sys
sys.path.append('..')

In [2]:
import pandas as pd
import numpy as np

from pure.report import Report

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
pd.set_option('max_colwidth', 40)

#### For the first example let's take dataset from kaggle competitions with House Prices Dataset, Context Ad Clicks Dataset and Sales Dataset: 

https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data

https://www.kaggle.com/datasets/arashnic/ctrtest

https://www.kaggle.com/datasets/abhishekrp1517/sales-data-for-economic-data-analysis

In [5]:
house_prices_data = pd.read_csv('./example_data/house_prices.csv')
clicks_data = pd.read_csv('./example_data/clicks.csv')
sales_data = pd.read_csv('./example_data/sales_for_course.csv')

In [6]:
house_prices_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [7]:
clicks_data.head()

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0

In [8]:
sales_data.head()

,index,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue,Column1
0,0,2/19/2016,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,1.0,80.00,109.000000,80.0,109.0,NaN
1,1,2/20/2016,2016.0,February,29.0,F,United States,Washington,Clothing,Gloves,2.0,24.50,28.500000,49.0,57.0,NaN
2,2,2/27/2016,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,3.67,5.000000,11.0,15.0,NaN
3,3,3/12/2016,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,2.0,87.50,116.500000,175.0,233.0,NaN
4,4,3/12/2016,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,35.00,41.666667,105.0,125.0,NaN

### Report

The main application of the Pure project is to provide an opportunity to run some lists of metrics and give information about what metrics are passed, failed or dropped with errors.

For this purpose there is a Report class that takes a dictionary of datasets and apply metrics from the checklist (explained later) to them.

At first, create dictionary with tables that we want to apply metrics to.

In [9]:
tables = {"house_prices": house_prices_data, "clicks": clicks_data, "sales": sales_data}

Import all metrics we want to check for our datasets

In [10]:
from pure.metrics import (CountTotal, CountZeros, CountNull, 
                          CountDuplicates, CountValue, CountBelowValue, CountGreaterValue,
                          CountBelowColumn, CountRatioBelow, CountCB,
                          CountLag, CountValueInBounds, CountValueInRequiredSet,
                          CountExtremeValuesFormula, CountExtremeValuesQuantile, CountLastDayRows)

Create checklist for the report class with metrics we want to check and what restrictions (limits) we want to control for resulting values of these metrics.

Checklist is a list of tuples containing:

'name of the table': str,

'metric class': Metric,

'limits dict': Dict[str, Tuple[float, float]] (defines limits for the field of the metric result we want to control).

It's needed for initialization of the Report class.

In [11]:
checklist = [
    ("house_prices", CountTotal(), {"total": (1, 1e6)}),
    ("house_prices", CountZeros("MiscVal"), {"delta": (0, 0.3)}),
    ("house_prices", CountNull("LotFrontage"), {"delta": (0, 0.2)}),
    ("house_prices", CountValue("RoofStyle", "Mansard"), {"delta": (0.1, 0.2)}),
    ("house_prices", CountBelowValue("SalePrice", 200000), {"delta": (0.4, 0.8)}),
    ("house_prices", CountGreaterValue("SalePrice", 300000), {"delta": (0, 0.1)}),
    ("house_prices", CountBelowColumn("YearBuilt", "YearRemodAdd", True), {"count": (100, 1000)}),
    ("house_prices", CountCB("SalePrice"), {}),
    ("house_prices", CountExtremeValuesFormula("LotArea", 4), {"delta": (0, 0.01)}),
    ("house_prices", CountExtremeValuesQuantile("LotArea", 0.95), {"delta": (0, 0.05)}),
    
    ("sales", CountRatioBelow("Revenue", "Unit Price", "Quantity"), {}),
    ("sales", CountValueInBounds("Customer Age", 18, 85), {"delta": (0, 0)}),
    
    ("clicks", CountDuplicates(["impression_time", "user_id"]), {"count": (0, 10)}),
    ("clicks", CountTotal(), {"total": (1, 1e6)}),
    ("clicks", CountZeros('is_4G'), {"delta": (0, 0.1)}),
    ("clicks", CountLag('impression_time'), {}),
    ("clicks", CountValueInRequiredSet("os_version", ['intermediate', 'latest', 'old']), {"delta": (0, 0.01)}),
    ("clicks", CountLastDayRows("impression_time", percent=80), {})
]

Report class has fit method:

``fit`` -- applies metrics to the datasets and check if the resulting values match the limits defined in checklist,
returns a dictionary with result dataframe and some meta fields.

Let's create an instance with setting engine we want ('pandas' or 'pyspark'). For us it's 'pandas'

In [114]:
report = Report(checklist=checklist, engine='pandas')

Fit report

In [115]:
result = report.fit(tables)

Keys of the result dict

In [87]:
result.keys()

dict_keys(['title', 'result', 'passed', 'passed_pct', 'failed', 'failed_pct', 'errors', 'errors_pct', 'total'])

Let's print resulting report info

In [63]:
print(f"{result['title']}\n\n"
      f"Passed: {result['passed']} ({result['passed_pct']}%)\n"
      f"Failed: {result['failed']} ({result['failed_pct']}%)\n"
      f"Errors: {result['errors']} ({result['errors_pct']}%)\n"
      "\n"
      f"Total: {result['total']}")

DQ Report for tables ['clicks', 'house_prices', 'sales']

Passed: 11 (61.11%)
Failed: 6 (33.33%)
Errors: 1 (5.56%)

Total: 18

In [117]:
result['result']

,table_name,metric_name,limits,values,status,error,metric_values,metric_params
0,house_prices,CountTotal,"{'total': (1, 1000000.0)}",{'total': 1460},.,,{'total': 1460},[]
1,house_prices,CountZeros,"{'delta': (0, 0.3)}",{'delta': 0.964},F,,"{'total': 1460, 'count': 1408, 'delt...",[MiscVal]
2,house_prices,CountNull,"{'delta': (0, 0.2)}",{},E,KeyError,{},"[LotFrontage, any]"
3,house_prices,CountValue,"{'delta': (0.1, 0.2)}",{'delta': 0.005},F,,"{'total': 1460, 'count': 7, 'delta':...","[RoofStyle, Mansard]"
4,house_prices,CountBelowValue,"{'delta': (0.4, 0.8)}",{'delta': 0.708},.,,"{'total': 1460, 'count': 1033, 'delt...","[SalePrice, 200000, False]"
5,house_prices,CountGreaterValue,"{'delta': (0, 0.1)}",{'delta': 0.079},.,,"{'total': 1460, 'count': 115, 'delta...","[SalePrice, 300000, False]"
6,house_prices,CountBelowColumn,"{'count': (100, 1000)}",{'count': 696},.,,"{'total': 1460, 'count': 696, 'delta...","[YearBuilt, YearRemodAdd, True]"
7,house_prices,CountCB,{},{},.,,"{'lcb': 80000.0, 'ucb': 384510.74999...","[SalePrice, 0.95]"
8,house_prices,CountExtremeValuesFormula,"{'delta': (0, 0.01)}",{'delta': 0.007},.,,"{'total': 1460, 'count': 10, 'delta'...","[LotArea, 4, greater]"
9,house_prices,CountExtremeValuesQuantile,"{'delta': (0, 0.05)}",{'delta': 0.05},.,,"{'total': 1460, 'count': 73, 'delta'...","[LotArea, 0.95, greater]"
10,sales,CountRatioBelow,{},{},.,,"{'total': 34867, 'count': 30948, 'de...","[Revenue, Unit Price, Quantity, False]"
11,sales,CountValueInBounds,"{'delta': (0, 0)}",{'delta': 0.99},F,,"{'total': 34867, 'count': 34502, 'de...","[Customer Age, 18, 85, False]"
12,clicks,CountDuplicates,"{'count': (0, 10)}",{'count': 523},F,,"{'total': 237609, 'count': 523, 'del...","[[impression_time, user_id]]"
13,clicks,CountTotal,"{'total': (1, 1000000.0)}",{'total': 237609},.,,{'total': 237609},[]
14,clicks,CountZeros,"{'delta': (0, 0.1)}",{'delta': 0.639},F,,"{'total': 237609, 'count': 151758, '...",[is_4G]
15,clicks,CountLag,{},{},.,,"{'today': '2023-05-17', 'last_day': ...","[impression_time, %Y-%m-%d]"
16,clicks,CountValueInRequiredSet,"{'delta': (0, 0.01)}",{'delta': 1.0},F,,"{'total': 237609, 'count': 237609, '...","[os_version, [intermediate, latest, ..."
17,clicks,CountLastDayRows,{},{},.,,"{'average': 8193.344827586207, 'last...","[impression_time, 80]"

In [108]:
result['result'][["table_name", "metric_name", "limits", "values", "status", "error"]].head(10)

,table_name,metric_name,limits,values,status,error
0,house_prices,CountTotal,"{'total': (1, 1000000.0)}",{'total': 1460},.,
1,house_prices,CountZeros,"{'delta': (0, 0.3)}",{'delta': 0.964},F,
2,house_prices,CountNull,"{'delta': (0, 0.2)}",{},E,KeyError
3,house_prices,CountValue,"{'delta': (0.1, 0.2)}",{'delta': 0.005},F,
4,house_prices,CountBelowValue,"{'delta': (0.4, 0.8)}",{'delta': 0.708},.,
5,house_prices,CountGreaterValue,"{'delta': (0, 0.1)}",{'delta': 0.079},.,
6,house_prices,CountBelowColumn,"{'count': (100, 1000)}",{'count': 696},.,
7,house_prices,CountCB,{},{},.,
8,house_prices,CountExtremeValuesFormula,"{'delta': (0, 0.01)}",{'delta': 0.007},.,
9,house_prices,CountExtremeValuesQuantile,"{'delta': (0, 0.05)}",{'delta': 0.05},.,

In [76]:
result['result'].iloc[1]

table_name                                  house_prices
metric_name                                   CountZeros
limits                               {'delta': (0, 0.3)}
values                                  {'delta': 0.964}
status                                                 F
error
metric_values    {'total': 1460, 'count': 1408, 'delt...
metric_params                                  (MiscVal)
Name: 1, dtype: object

#### Explanation of the report result

'status' column:

â€˜.â€™ - if the check is successful; 

'F' - if the check is not successful; 

'E' - if an error occurred during execution

In the report result we see six metrics passed with 'F' status -- it means that the field of the metric result on which  we imposed the restriction limits doesn't match them. 

One metric got 'E' status -- it means that there is something wrong during metric execution. In this case KeyError was made specifically for the demonstration (in metric CountNull 'columns' parameter must be list[str], not str).

All other metrics are passed with no errors.

### Metrics

In case we want just apply some metric to our dataset and see the result value.

Import metrics we want to check.

For example, let it be CountCB metric that calculates confidence bounds for chosen column, CountLag that calculates a lag between last date and today, CountLastDayRows that checks if number of values in last day is at least 'percent'% of the average.

In [17]:
from pure.metrics import CountCB, CountLag, CountLastDayRows

Create an instances of metrics

In [18]:
cb_metric = CountCB(column="LotArea", conf=0.95)
lag_metric = CountLag(column="impression_time")
last_day_rows_metric = CountLastDayRows(column="impression_time")

Calculate the results

In [19]:
bounds = cb_metric(house_prices_data)
print(bounds)

{'lcb': 2298.0250000000005, 'ucb': 22698.249999999927}

In [20]:
lag_result = lag_metric(clicks_data)
print(lag_result)

{'today': '2023-05-17', 'last_day': '2018-12-13', 'lag': 1616}

In [21]:
metric_result = last_day_rows_metric(clicks_data)
print(metric_result)

{'average': 8193.344827586207, 'last_date_count': 2, 'percentage': 0.02441005525931475, 'at_least_80%': False}

In [65]:
import pickle

In [68]:
d = pickle.load(open('/home/tatyana/PycharmProjects/Pure-Data/pure/tests/test_fixtures/report_dumps/dump1.pkl', "rb"))
d

{'title': "DQ Report for tables ['av_table_shift', 'big_table', 'sales', 'two_years', 'views']",
 'result':         table_name                                   metric
 0            sales                             CountTotal()  \
 1            sales                 CountZeros(column='qty')
 2            sales  CountDuplicates(columns=['day', 'ite...
 3            sales  CountNull(columns=['qty'], aggregati...
 4            sales  CountRatioBelow(column_x='revenue', ...
 5            sales  CountBelowValue(column='price', valu...
 6            sales  CountValueInRequiredSet(column='pay_...
 7            sales  CountValueInBounds(column='qty', low...
 8        big_table     CountCB(column='revenue', conf=0.95)
 9        big_table  CountExtremeValuesQuantile(column='r...
 10           views                             CountTotal()
 11           views               CountZeros(column='views')
 12           views              CountZeros(column='clicks')
 13           views  CountNull(columns=['views', 'clicks'...
 14           views  CountBelowValue(column='views', valu...
 15           views  CountGreaterValue(column='views', va...
 16           views  CountBelowColumn(column_x='clicks', ...
 17           views  CountBelowColumn(column_x='payments'...
 18           views  CountExtremeValuesFormula(column='vi...
 19       two_years  CountLastDayRows(column='dt', percen...
 20       two_years  CountFewLastDayRows(column='dt', per...
 21       two_years  CountFewLastDayRows(column='dt', per...
 22  av_table_shift  CheckAdversarialValidation(first_sli...

                                  limits
 0             {'total': (1, 1000000.0)}  \
 1                   {'delta': (0, 0.3)}
 2                     {'total': (0, 0)}
 3                     {'total': (0, 0)}
 4                  {'delta': (0, 0.05)}
 5                   {'delta': (0, 0.3)}
 6                   {'delta': (0, 0.5)}
 7                     {'count': (0, 2)}
 8                                    {}
 9                   {'delta': (0, 0.2)}
 10            {'total': (1, 1000000.0)}
 11                  {'delta': (0, 0.2)}
 12                  {'delta': (0, 0.5)}
 13                  {'delta': (0, 0.1)}
 14                  {'delta': (0, 0.5)}
 15                  {'delta': (0, 0.3)}
 16                    {'total': (0, 0)}
 17                    {'total': (0, 0)}
 18                  {'delta': (0, 0.2)}
 19  {'last_date_count': (1, 1000000.0)}
 20                     {'days': (1, 2)}
 21                     {'days': (1, 2)}
 22                                   {}

                                      values status       error
 0                              {'total': 7}      .
 1   {'total': 7, 'count': 1, 'delta': 0....      .
 2   {'total': 7, 'count': 1, 'delta': 0....      F
 3   {'total': 7, 'count': 2, 'delta': 0....      F
 4   {'total': 7, 'count': 5, 'delta': 0....      F
 5   {'total': 7, 'count': 2, 'delta': 0....      .
 6   {'total': 7, 'count': 4, 'delta': 0....      F
 7   {'total': 7, 'count': 2, 'delta': 0....      .
 8              {'lcb': 120.0, 'ucb': 978.0}      .
 9   {'total': 10000, 'count': 991, 'delt...      .
 10                             {'total': 9}      .
 11  {'total': 9, 'count': 1, 'delta': 0....      .
 12  {'total': 9, 'count': 1, 'delta': 0....      .
 13   {'total': 9, 'count': 0, 'delta': 0.0}      .
 14  {'total': 9, 'count': 1, 'delta': 0....      .
 15  {'total': 9, 'count': 4, 'delta': 0....      F
 16   {'total': 9, 'count': 9, 'delta': 1.0}      F
 17  {'total': 9, 'count': 8, 'delta': 0....      F
 18  {'total': 9, 'count': 1, 'delta': 0....      .
 19  {'average': 1.5, 'last_date_count': ...      .
 20  {'average': 1.3333333333333333, 'day...      .
 21                                       {}      E  ValueError
 22  {'similar': False, 'importances': {'...      .              ,
 'passed': 15,
 'passed_pct': 65.22,
 'failed': 7,
 'failed_pct': 30.43,
 'errors': 1,
 'errors_pct': 4.35,
 'total': 23}

In [88]:
d.keys()

dict_keys(['title', 'result', 'passed', 'passed_pct', 'failed', 'failed_pct', 'errors', 'errors_pct', 'total'])

In [126]:
t = pickle.load(open('/home/tatyana/PycharmProjects/Pure-Data/pure/tests/test_fixtures/report_dumps/try.pickle', 'rb'))
t.keys()

dict_keys(['title', 'result', 'passed', 'passed_pct', 'failed', 'failed_pct', 'errors', 'errors_pct', 'total'])

In [127]:
t['result']

,table_name,metric_name,limits,values,status,error,metric_values,metric_params
0,sales,CountTotal,"{'total': (1, 1000000.0)}",{'total': 7},.,,{'total': 7},[]
1,sales,CountZeros,"{'delta': (0, 0.3)}",{'delta': 0.143},.,,"{'total': 7, 'count': 1, 'delta': 0....",[qty]
2,sales,CountDuplicates,"{'total': (0, 0)}",{'total': 7},F,,"{'total': 7, 'count': 1, 'delta': 0....","[[day, item_id]]"
3,sales,CountNull,"{'total': (0, 0)}",{'total': 7},F,,"{'total': 7, 'count': 2, 'delta': 0....","[[qty], any]"
4,sales,CountRatioBelow,"{'delta': (0, 0.05)}",{'delta': 0.714},F,,"{'total': 7, 'count': 5, 'delta': 0....","[revenue, price, qty, False]"
5,sales,CountBelowValue,"{'delta': (0, 0.3)}",{'delta': 0.286},.,,"{'total': 7, 'count': 2, 'delta': 0....","[price, 100.0, False]"
6,sales,CountValueInRequiredSet,"{'delta': (0, 0.5)}",{'delta': 0.571},F,,"{'total': 7, 'count': 4, 'delta': 0....","[pay_card, [mastercard, visa]]"
7,sales,CountValueInBounds,"{'count': (0, 2)}",{'count': 2},.,,"{'total': 7, 'count': 2, 'delta': 0....","[qty, 1, 8, True]"
8,big_table,CountCB,{},{},.,,"{'lcb': 120.0, 'ucb': 978.0}","[revenue, 0.95]"
9,big_table,CountExtremeValuesQuantile,"{'delta': (0, 0.2)}",{'delta': 0.099},.,,"{'total': 10000, 'count': 991, 'delt...","[revenue, 0.9, greater]"
10,views,CountTotal,"{'total': (1, 1000000.0)}",{'total': 9},.,,{'total': 9},[]
11,views,CountZeros,"{'delta': (0, 0.2)}",{'delta': 0.111},.,,"{'total': 9, 'count': 1, 'delta': 0....",[views]
12,views,CountZeros,"{'delta': (0, 0.5)}",{'delta': 0.111},.,,"{'total': 9, 'count': 1, 'delta': 0....",[clicks]
13,views,CountNull,"{'delta': (0, 0.1)}",{'delta': 0.0},.,,"{'total': 9, 'count': 0, 'delta': 0.0}","[[views, clicks, payments], any]"
14,views,CountBelowValue,"{'delta': (0, 0.5)}",{'delta': 0.111},.,,"{'total': 9, 'count': 1, 'delta': 0....","[views, 10, False]"
15,views,CountGreaterValue,"{'delta': (0, 0.3)}",{'delta': 0.444},F,,"{'total': 9, 'count': 4, 'delta': 0....","[views, 1000, True]"
16,views,CountBelowColumn,"{'total': (0, 0)}",{'total': 9},F,,"{'total': 9, 'count': 9, 'delta': 1.0}","[clicks, views, False]"
17,views,CountBelowColumn,"{'total': (0, 0)}",{'total': 9},F,,"{'total': 9, 'count': 8, 'delta': 0....","[payments, clicks, False]"
18,views,CountExtremeValuesFormula,"{'delta': (0, 0.2)}",{'delta': 0.111},.,,"{'total': 9, 'count': 1, 'delta': 0....","[views, 1, greater]"
19,two_years,CountLastDayRows,"{'last_date_count': (1, 1000000.0)}",{'last_date_count': 3},.,,"{'average': 1.5, 'last_date_count': ...","[dt, 80]"
20,two_years,CountFewLastDayRows,"{'days': (1, 2)}",{'days': 2},.,,"{'average': 1.3333333333333333, 'day...","[dt, 80, 2]"
21,two_years,CountFewLastDayRows,"{'days': (1, 2)}",{},E,ValueError,{},"[dt, 80, 22]"
22,av_table_shift,CheckAdversarialValidation,{},{},.,,"{'similar': False, 'importances': {'...","[(2022-04-17, 2022-05-03), (2022-05-..."

In [140]:
for index, x in t['result'].iterrows():
    print(x[0], x[1])

sales CountTotal
sales CountZeros
sales CountDuplicates
sales CountNull
sales CountRatioBelow
sales CountBelowValue
sales CountValueInRequiredSet
sales CountValueInBounds
big_table CountCB
big_table CountExtremeValuesQuantile
views CountTotal
views CountZeros
views CountZeros
views CountNull
views CountBelowValue
views CountGreaterValue
views CountBelowColumn
views CountBelowColumn
views CountExtremeValuesFormula
two_years CountLastDayRows
two_years CountFewLastDayRows
two_years CountFewLastDayRows
av_table_shift CheckAdversarialValidation

In [98]:
print(d.values())

dict_values([10, 11])

In [102]:
tt = {}
tt['tmp'] = list(d.values())

In [103]:
tt

{'tmp': [10, 11]}

In [141]:
pd.read_csv('/home/tatyana/PycharmProjects/Pure-Data/pure/tests/expected.csv')

,Unnamed: 0,table_name,metric_name,limits,values,status,error,metric_values,metric_params
0,0,sales,CountTotal,"{'total': (1, 1000000.0)}",{'total': 21},.,NaN,{'total': 21},[]
1,1,sales,CountZeros,"{'delta': (0, 0.3)}",{'delta': 0.095},.,NaN,"{'total': 21, 'count': 2, 'delta': 0...",['qty']
2,2,sales,CountNull,"{'total': (0, 0)}",{'total': 21},F,NaN,"{'total': 21, 'count': 0, 'delta': 0.0}","[['price', 'qty'], 'all']"
3,3,sales,CountDuplicates,"{'delta': (0, 0.5)}",{'delta': 0.524},F,NaN,"{'total': 21, 'count': 11, 'delta': ...","[['qty', 'item_id']]"
4,4,sales,CountValue,"{'count': (1, 5)}",{'count': 3},.,NaN,"{'total': 21, 'count': 3, 'delta': 0...","['day', '2022-10-22']"
5,5,sales,CountRatioBelow,"{'delta': (0, 0.05)}",{'delta': 0.619},F,NaN,"{'total': 21, 'count': 13, 'delta': ...","['revenue', 'price', 'qty', False]"
6,6,sales,CountValueInRequiredSet,"{'delta': (0.7, 1.0)}",{'delta': 0.762},.,NaN,"{'total': 21, 'count': 16, 'delta': ...","['pay_card', ['unionpay', 'mastercar..."
7,7,sales,CountValueInBounds,"{'count': (0, 2)}",{'count': 10},F,NaN,"{'total': 21, 'count': 10, 'delta': ...","['qty', 1, 8, True]"
8,8,sales,CountValueInBounds,"{'delta': (0, 0.5)}",{'delta': 0.476},.,NaN,"{'total': 21, 'count': 10, 'delta': ...","['qty', 1, 8, True]"
9,9,sales,CountLastDayRows,{},{},.,NaN,"{'average': 2.857142857142857, 'last...","['day', 35]"
10,10,big_table,CountCB,{},{},.,NaN,"{'lcb': 190.0, 'ucb': 912.0}","['revenue', 0.8]"
11,11,big_table,CountExtremeValuesQuantile,"{'delta': (0, 0.2)}",{'delta': 0.049},.,NaN,"{'total': 10000, 'count': 489, 'delt...","['revenue', 0.05, 'lower']"
12,12,views,CountBelowValue,"{'delta': (0, 0.5)}",{'delta': 0.611},F,NaN,"{'total': 18, 'count': 11, 'delta': ...","['views', 1000, True]"
13,13,views,CountGreaterValue,"{'delta': (0, 0.3)}",{'delta': 0.111},.,NaN,"{'total': 18, 'count': 2, 'delta': 0...","['views', 1000, True]"
14,14,views,CountExtremeValuesFormula,"{'delta': (0, 0.2)}",{'delta': 0.056},.,NaN,"{'total': 18, 'count': 1, 'delta': 0...","['views', 1, 'greater']"
15,15,views,CountLastDayRows,"{'percentage': (50, 100)}",{'percentage': 200.0},F,NaN,"{'average': 3.0, 'last_date_count': ...","['dt', 80]"
16,16,views,CountFewLastDayRows,"{'days': (1, 2)}",{'days': 2},.,NaN,"{'average': 3.0, 'days': 2}","['dt', 80, 2]"
17,17,av_table_none,CheckAdversarialValidation,{},{},.,NaN,"{'similar': False, 'importances': {'...","[(datetime.date(2022, 4, 17), dateti..."
18,18,av_table_none,CheckAdversarialValidation,{},{},E,TypeError,{},"[(100, 200), (300, 400), 0.05]"

In [142]:
pd.read_csv('/home/tatyana/PycharmProjects/Pure-Data/pure/tests/result.csv')

,Unnamed: 0,table_name,metric_name,limits,values,status,error,metric_values,metric_params
0,0,sales,CountTotal,"{'total': (1, 1000000.0)}",{'total': 21},.,NaN,{'total': 21},[]
1,1,sales,CountZeros,"{'delta': (0, 0.3)}",{'delta': 0.095},.,NaN,"{'total': 21, 'count': 2, 'delta': 0...",['qty']
2,2,sales,CountNull,"{'total': (0, 0)}",{'total': 21},F,NaN,"{'total': 21, 'count': 0, 'delta': 0.0}","[['price', 'qty'], 'all']"
3,3,sales,CountDuplicates,"{'delta': (0, 0.5)}",{'delta': 0.524},F,NaN,"{'total': 21, 'count': 11, 'delta': ...","[['qty', 'item_id']]"
4,4,sales,CountValue,"{'count': (1, 5)}",{'count': 3},.,NaN,"{'total': 21, 'count': 3, 'delta': 0...","['day', '2022-10-22']"
5,5,sales,CountRatioBelow,"{'delta': (0, 0.05)}",{'delta': 0.619},F,NaN,"{'total': 21, 'count': 13, 'delta': ...","['revenue', 'price', 'qty', False]"
6,6,sales,CountValueInRequiredSet,"{'delta': (0.7, 1.0)}",{'delta': 0.762},.,NaN,"{'total': 21, 'count': 16, 'delta': ...","['pay_card', ['unionpay', 'mastercar..."
7,7,sales,CountValueInBounds,"{'count': (0, 2)}",{'count': 10},F,NaN,"{'total': 21, 'count': 10, 'delta': ...","['qty', 1, 8, True]"
8,8,sales,CountValueInBounds,"{'delta': (0, 0.5)}",{'delta': 0.476},.,NaN,"{'total': 21, 'count': 10, 'delta': ...","['qty', 1, 8, True]"
9,9,sales,CountLastDayRows,{},{},.,NaN,"{'average': 2.857142857142857, 'last...","['day', 35]"
10,10,big_table,CountCB,{},{},.,NaN,"{'lcb': 190.0, 'ucb': 912.0}","['revenue', 0.8]"
11,11,big_table,CountExtremeValuesQuantile,"{'delta': (0, 0.2)}",{'delta': 0.049},.,NaN,"{'total': 10000, 'count': 489, 'delt...","['revenue', 0.05, 'lower']"
12,12,views,CountBelowValue,"{'delta': (0, 0.5)}",{'delta': 0.611},F,NaN,"{'total': 18, 'count': 11, 'delta': ...","['views', 1000, True]"
13,13,views,CountGreaterValue,"{'delta': (0, 0.3)}",{'delta': 0.111},.,NaN,"{'total': 18, 'count': 2, 'delta': 0...","['views', 1000, True]"
14,14,views,CountExtremeValuesFormula,"{'delta': (0, 0.2)}",{'delta': 0.056},.,NaN,"{'total': 18, 'count': 1, 'delta': 0...","['views', 1, 'greater']"
15,15,views,CountLastDayRows,"{'percentage': (50, 100)}",{'percentage': 200.0},F,NaN,"{'average': 3.0, 'last_date_count': ...","['dt', 80]"
16,16,views,CountFewLastDayRows,"{'days': (1, 2)}",{'days': 2},.,NaN,"{'average': 3.0, 'days': 2}","['dt', 80, 2]"
17,17,av_table_none,CheckAdversarialValidation,{},{},.,NaN,"{'similar': False, 'importances': {'...","[(datetime.date(2022, 4, 17), dateti..."
18,18,av_table_none,CheckAdversarialValidation,{},{},E,TypeError,{},"[(100, 200), (300, 400), 0.05]"